{% set issOdd = (index % 2 == 1 )? true : false %}
{% set ribbonSize = (random(1) > 0)?'big':'small' %}

<div class="txtPicWrap relative mb-8 flex-col-reverse {{ (issOdd)?'lg:flex-row-reverse':'lg:flex-row' }}">
	<div class="txt relative p-8">
		<div class="content">
			<h2 class="text-4xl font-bold">{{item.title}}</h2>
			<p class="mt-1">{{item.preview.read_more('')}}</p>
			<div class="fudiBtn bg-{{item.color}} mt-6">
				<a href="{{item.link}}" class='absolute inset-0 z-10'></a>
				<div class="txt">
					MORE
				</div>
			</div>
		</div>

		{% if ( ribbonSize == 'big') %}
			{% include "@cmpt/ribbon/ribbon.twig" with {
        class: (issOdd)?'top-0 right-0 flip -mt-16 -mr-16 phoneHide':'top-0 left-0 -mt-16 -ml-16 phoneHide', 
        color: item.color,
        animate: true,
      }%}
		{% else %}
			{% include "@cmpt/ribbon/ribbon.twig" with {
        class: (issOdd)?'top-0 right-0 flip phoneHide':'top-0 left-0  phoneHide',
        color: item.color,
        type: 'small',
      }%}
		{% endif %}


	</div>
	<div class="pic gee relative" data-color='{{ item.color }}' data-gene="init:aniPic">
		<div class="img inset-0 absolute bg-cover bg-center" style='background-image:url({{item.thumbnail.src}})'></div>
		<a href="{{item.link}}" class="absolute inset-0 z-20"></a>
	</div>
</div>



