{% extends "@layout/base.twig"%}

{% set cur = 'introdution' %}
{% block necker %}{% endblock %}
{% block bodier %}
	<div class="container">
		{{post.content}}


		{# 布色 #}
		<section id="clothColor" class="">
			<img src="{{'images/d/intoPic2.png'|assets}}" alt="" class="mx-auto w-16">
			<div class="s-title py-4  text-center">
				<h1>布色</h1>
				<img src="{{'images/d/intro3.png'|assets}}" alt="" class="d-txt onCenter">
			</div>
			<div class="bg-repeat mt-8 mb-4" style='height:1px;background-image:url(/static/images/line.png)'></div>

			<div class="clothWtap ani-stagger pb-16">
				{% for item in cloths %}
					<div class="cloth-item ani-item">
						<div class="pic" style=" background-color: {{ item.color }}	">
							<div class="cloth-img" style="background-image:url({{ item.thumbnail}})"></div>
						</div>
						<div class="txt mt-2 text-center">
							<div class="pantone-txt">
								<p>Pantone</p>
								<p>{{item.pantone}}</p>
							</div>
							<div class="name-txt">
								<p>{{item.title}}</p>
							</div>
						</div>
					</div>
				{% endfor %}
				<div class="space"></div>
				<div class="space"></div>
				<div class="space"></div>
				<div class="space"></div>
				<div class="space"></div>
				<div class="space"></div>
			</div>
		</section>
	</div>
{% endblock %}
