{% extends "@layout/base.twig"%}
{% block necker %}
	{% set service_banners = [{
		thumbnail: {
			src: 'images/d/prodution_banner.jpg',
		}
	},{
		thumbnail: {
			src: 'images/d/prodution_banner.jpg',
		}
	}] %}

	<div class="container wider">
		{% include "@cmpt/slider/slider.twig" with {banners:service_banners}%}
	</div>
{% endblock %}
{% block bodier %}
	<div
		class="container">

		{# 服務流程 #}
		<div class="s-title py-8  text-center">
			<h1>服務流程</h1>
			<img src="{{'images/d/prodution_t1.png'|assets}}" alt="" class="d-txt onCenter">
		</div>


		<section class="lineBox">
			<div class="lineBoxItem">
				<div class="numWrap">
					<img src="{{'images/d/num1.png'|assets}}" alt="" class="">
					<div class="circle"></div>
				</div>
				<div class="textWrap">
					<div class="content">
						<img src="{{'images/d/service_icon4.png'|assets}}" alt="">
						<h2 class="subTitle">了解需求</h2>
						<div class="innerContent">
							<ul class="list-decimal">
								<li>裝載產品內容與重量</li>
								<li>預算</li>
								<li>需求數量</li>
								<li>活動或常態使用</li>
								<li>袋型與印刷需求</li>
								<li>使用用途與行銷目的</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="lineBoxItem">
				<div class="numWrap">
					<img src="{{'images/d/num2.png'|assets}}" alt="" class="">
					<div class="circle"></div>
				</div>
				<div class="textWrap">
					<div class="content">
						<img src="{{'images/d/service_icon3.png'|assets}}" alt="">
						<h2 class="subTitle ">建議回饋</h2>
						<div class="innerContent">
							<ul class="list-decimal">
								<li>尺寸與袋型結構</li>
								<li>成本回饋</li>
								<li>製程建議</li>
								<li>品牌行銷經驗分享</li>
								<li>各大品牌作品介紹</li>
								<li>綜合價格與價值分析</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="lineBoxItem">
				<div class="numWrap">
					<img src="{{'images/d/num3.png'|assets}}" alt="" class="">
					<div class="circle"></div>
				</div>
				<div class="textWrap">
					<div class="content">
						<img src="{{'images/d/service_icon1.png'|assets}}" alt="">
						<h2 class="subTitle ">實體打樣檢討</h2>
						<div class="innerContent">
							經上述之充分討論後，天毅提供體驗式服務，將於一週內提供實體打樣來試裝產品，確認量身尺寸、裝載內容與重量符合客戶需求，讓您下單安心，交貨不必擔心。
						</div>
					</div>
				</div>
			</div>
			<div class="lineBoxItem">
				<div class="numWrap">
					<img src="{{'images/d/num4.png'|assets}}" alt="" class="">
					<div class="circle"></div>
				</div>
				<div class="textWrap">
					<div class="content">
						<img src="{{'images/d/service_icon2.png'|assets}}" alt="">
						<h2 class="subTitle ">確認下單</h2>
						<div class="innerContent">
							完成下單程序後，天毅會提供審圖回饋與提袋實際打樣之服務，製作大貨前，再次檢討提袋尺寸大小、重量需求、印刷等整體呈現， 雙方並可依樣品訂定交貨標準，讓客戶享有雙向溝通之顧問式服務。
						</div>
					</div>
				</div>
			</div>
		</section>


		<div class="bg-repeat my-16" style='height:1px;background-image:url({{"images/line.png"|assets}})'></div>

		{# 生產流程 #}
		<div class="s-title py-8  text-center">
			<h1>生產流程</h1>
			<img src="{{'images/d/prodution_t2.png'|assets}}" alt="" class="d-txt onCenter">
		</div>

		<section class="lineBox pb-8">
			<div class="lineBoxItem">
				<div class="numWrap">
					<img src="{{'images/d/num1.png'|assets}}" alt="" class="">
					<div class="circle"></div>
				</div>
				<div class="textWrap">
					<div class="content">
						<img src="{{'images/d/prodution_icon1.png'|assets}}" alt="">
						<h2 class="subTitle w-4/5">天毅提供刀模圖 (1-2工作天)</h2>
					</div>
				</div>
			</div>
			<div class="lineBoxItem">
				<div class="numWrap">
					<img src="{{'images/d/num2.png'|assets}}" alt="" class="">
					<div class="circle"></div>
				</div>
				<div class="textWrap">
					<div class="content">
						<img src="{{'images/d/prodution_icon2.png'|assets}}" alt="">
						<h2 class="subTitle w-4/5">客戶提供印刷檔 (1-2工作天)</h2>
					</div>
				</div>
			</div>
			<div class="lineBoxItem">
				<div class="numWrap">
					<img src="{{'images/d/num3.png'|assets}}" alt="" class="">
					<div class="circle"></div>
				</div>
				<div class="textWrap">
					<div class="content">
						<img src="{{'images/d/prodution_icon3.png'|assets}}" alt="">
						<h2 class="subTitle w-4/5">天毅審圖&發製版 (2-3工作天)</h2>
					</div>
				</div>
			</div>
			<div class="lineBoxItem">
				<div class="numWrap">
					<img src="{{'images/d/num4.png'|assets}}" alt="" class="">
					<div class="circle"></div>
				</div>
				<div class="textWrap">
					<div class="content">
						<img src="{{'images/d/prodution_icon4.png'|assets}}" alt="">
						<h2 class="subTitle w-4/5">大貨打樣 (10-14工作天)</h2>
					</div>
				</div>
			</div>
			<div class="lineBoxItem">
				<div class="numWrap">
					<img src="{{'images/d/num5.png'|assets}}" alt="" class="">
					<div class="circle"></div>
				</div>
				<div class="textWrap">
					<div class="content">
						<img src="{{'images/d/prodution_icon5.png'|assets}}" alt="">
						<h2 class="subTitle w-4/5">客戶確認簽樣 (2-3工作天)</h2>
					</div>
				</div>
			</div>
			<div class="lineBoxItem">
				<div class="numWrap">
					<img src="{{'images/d/num6.png'|assets}}" alt="" class="">
					<div class="circle"></div>
				</div>
				<div class="textWrap relative">
					<div class="content">
						<img src="{{'images/d/prodution_icon6.png'|assets}}" alt="">
						<h2 class="subTitle w-4/5">生產交貨 (45-60工作天)</h2>
					</div>
					<p class="absolute bottom-0 left-0 -mb-6">＊以上為天數為工作天，不含例假日</p>
				</div>
			</div>
		</section>

		<div class="bg-repeat my-16" style='height:1px;background-image:url({{"images/line.png"|assets}})'></div>

		{# 產品檢驗報告 #}
		<div class="s-title py-8  text-center">
			<h1>產品檢驗報告</h1>
			<img src="{{'images/d/prodution_t3.png'|assets}}" alt="" class="d-txt onCenter">
		</div>

		<div class="">
			<img src="{{'images/d/report.png'|assets}}" alt="">
		</div>
	</div>
{% endblock %}
