{% extends "@layout/base.twig"%}
{% block necker %}{% endblock %}
{% block bodier %}
	<div class="container pb-16">

		<div class="s-title py-8  text-center mt-14">
			<h1>服務內容</h1>
			<img src="{{'images/d/service-t1.png'|assets}}" alt="" class="d-txt onCenter">
		</div>

		<div class="picTxtContainer space-y-16">
			<div class="picTxtWrap"></div>
			<div class="picTxtWrap">
				<div class="pic">
					<img src='{{"images/d/service1.png"|assets}}' alt="">
				</div>
				<div class="txt py-0">
					<div class="content ">
						<h2 class="text-5xl font-bold">怎麼開始?</h2>
						<p>
							當您有購物袋的規劃時，可以先告訴我們，<br>
							您現在使用的包裝提袋是什麼材料?<br>
							需要裝什麼產品?<br>
							設計表現上有什麼想法?<br>
							最後您可以告訴我們，<br>
							在預算跟客製化數量的規劃想法。<br>
							歡迎隨時可以與我們聯繫，<br>
							我們會派任最適合您的專屬顧問來為您服務。
						</p>
					</div>
				</div>
			</div>
			<div class="picTxtWrap">
				<div class="pic">
					<img src='{{"images/d/service2.png"|assets}}' alt="">
				</div>
				<div class="txt py-0">
					<div class="content ">
						<h2 class="text-5xl font-bold">提袋客製化服務?</h2>
						<p>
							天毅致力於與客戶共同創造具附加價值的購物提袋，不論在提袋的質感上，或是對品牌的行銷議題上，我們都有豐富的經驗。所以從規劃提袋開始，舉凡購物袋型、結構車法、預算建議、印刷表現等，天毅是一個樂於分享的供應商，讓您在服務過程中，可以感受我們專業的細膩回饋。

						</p>
					</div>
				</div>
			</div>
			<div class="picTxtWrap">
				<div class="pic">
					<img src='{{"images/d/service3.png"|assets}}' alt="">
				</div>
				<div class="txt py-0">
					<div class="content ">
						<h2 class="text-5xl font-bold">交貨期?</h2>
						<ul class="mt-2">
							<li>* 35-45工作天 (不含例假日)</li>
							<li>* 上述時間以確樣日起算。</li>
							<li>* 特殊規格品項或大量訂單則雙方討論後訂定。</li>
						</ul>
						<h2 class="text-5xl font-bold">基本訂製量?</h2>
						<ul class="mt-2">
							<li>* 基本訂製量?</li>
							<li>* 自動袋30,000pcs</li>
							<li>* 以上數量為網版印刷之訂製數量。</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="picTxtWrap">
				<div class="pic">
					<img src='{{"images/d/service4.png"|assets}}' alt="">
				</div>
				<div class="txt py-0">
					<div class="content ">
						<h2 class="text-5xl font-bold">海外服務?</h2>
						<p>
							天毅曾經服務歐美、日本、菲律賓等國家，均對天毅的設計開發能力與交貨品質給予肯定，更提升了品牌包裝上的附加價值，若有海外服務的需求，歡迎來信聯繫。<br>
							<a href="mailto:info@tienyih.com" class="underline">info@tienyih.com</a>
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="flex justify-center mt-16">
			<a href="#" class="t-btn w-64 text-center">開始專案</a>
		</div>
	</div>
{% endblock %}
