<div class="ribbon {{class}} gee" style='{{style}}' {% if animate %} data-gene="init:ribbonAnimation" {% endif %}>
	{% if type == 'small' %}
		<div class="mask">
			<svg width="{{width|default(58)}}" viewbox="0 0 58 45">
				<path fill-rule="evenodd" clip-rule="evenodd" d="M2.74662 0.16429C1.44204 -0.401598 -8.01003e-05 0.564707 -8.01003e-05 1.98673V42.128C-8.01003e-05 43.2326 0.895351 44.128 1.99992 44.128H55.5942C57.2636 44.128 58.1896 42.2102 57.1212 40.9275C42.5346 23.4147 23.9403 9.35752 2.74662 0.16429Z"  class='fill-current text-{{color}}'/>
			</svg>

		</div>
	{% else %}
		<div class="mask">
			<svg width="{{width|default(170)}}" viewbox="0 0 173 139" fill="none">
				<path fill-rule="evenodd" clip-rule="evenodd" d="M103.056 136.848C103.822 137.77 104.957 138.31 106.156 138.31H168.938C172.056 138.31 173.967 134.907 172.292 132.277C133.039 70.6328 74.128 24.1291 5.23331 0.220755C2.66156 -0.671714 0.000152588 1.25422 0.000152588 3.97642V58.3662C0.000152588 59.9871 0.979904 61.4453 2.47238 62.0776C41.5253 78.6221 76.0136 104.286 103.056 136.848Z"  class='fill-current text-{{color}}'/>
			</svg>
		</div>
	{% endif %}
</div>
