<div class="w-full relative companyMapInfo channel-1 gee" data-gene='init:googleMapSection'>
	{% for item in locations %}
		<div class="c-item">
			<div class="relative">
				{{ item.map |raw}}
			</div>
			<div class="bg-blue text-white">
				<div class="container py-8 flex flex-col lg:divide-x lg:divide-white lg:flex-row  max-w-screen-lg">
					<div class="flex lg:w-1/2 px-6 py-2">
						<div class="w-1/4 font-bold">Address</div>
						<div class="w-3/4 ">{{item.address}}</div>
					</div>
					<div class=" lg:w-1/2 px-6">
						<div class="flex py-2">
							<div class="w-1/4 font-bold">TEL</div>
							<div class="w-3/4 ">{{item.tel}}</div>
						</div>
						<div class="flex py-2">
							<div class="w-1/4 font-bold">Business</div>
							<div class="w-3/4 ">{{item.business}}</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	{% endfor %}
	<div class="absolute right-0 top-0 mt-3 mr-3 z-20 ">
		<label class="block mt-4">
			<select class="form-select mt-1 block w-full">
				{% for item in locations %}
					<option value={{loop.index}} {{(loop.first)?'selected'}}>{{item.title}}</option>
				{% endfor %}
			</select>
		</label>
	</div>


</div>
