<div class="py-10 bg-lightest">
	<div class="container text-light">
		<div class=" flex justify-between py-4 flex-wrap md:flex-col">
			{% for item in footer_menu %}
				<div class="">
					<a href="{{item.link}}" class="text-lg font-bold py-2 block hover-yellow">{{item.title}}</a>
					{% if item.get_children %}
						<ul>
							{% for child in item.get_children %}
								<li>
									<a href="{{child.link}}" class='py-2 block hover-yellow'>{{child.title}}</a>
								</li>
							{% endfor %}
						</ul>
					{% endif %}
				</div>
			{% endfor %}
		</div>
	</div>
</div>


{% set site = {
	info:{
		company_name: '天毅企業有限公司',
		address: '237新北市三峽區隆恩街178-9號',
		locations:[{
			title: '國內部',
			tel: '(+886) 2 2673-1883',
			email: 'service@tienyih.com',
			fex: '(+886) 2 2673-5070',
		},{
			title: '國外部',
			tel: '(+886) 2 2672-4698 ext 16',
			email: 'info@tienyih.com',
			fex: '(+886) 2 2673-5070',
		}]
	}
} %}


<div class="py-10 bg-gray text-white">
	<div class="container">
		<div class="flex justify-between md:flex-col md:space-y-4 space-y-0">

			<div class="">
				<p class='font-bold'>{{site.info.company_name}}</p>
				<p>{{site.info.address}}</p>
			</div>

			{% for item in site.info.locations %}
				<div class="flex items-start">
					<div class="pb-1 border-b-2 border-white">{{item.title}}</div>
					<div class="ml-4">
						<ul class="space-y-2">
							<li><a class='hover:underline' href="tel:{{item.tel}}"><span class="mr-2">T:</span>{{item.tel}}</a></li>
							<li><span class="mr-2">F:</span> {{item.fex}}</li>
							<li><a class='hover:underline' href="mailto:{{item.email}}"><span class="mr-2">E:</span> {{item.email}}</a></li>
						</ul>
					</div>
				</div>
			{% endfor %}
		</div>

		{# <div class="py-4 text-right">
			<a href="/privacy-policy" class=" ">Privacy Policy</a>
		</div> #}
	</div>
</div>
