{% extends "@layout/base.twig"%}
{# {% block append %}
	{{sidebar}}
{% endblock %} #}
{% block necker %}{% endblock %}


{% block bodier %}
	<div class="container py-16">
		<div class="flex md:flex-col">
			<div class="picWrap w-1/2 md:w-full gee" data-gene="init:slider-product">
				<div class="slider pb-8 mx-auto mb-0" style="max-width:400px" id="productSlider">

					{% for key,item in row.gallery %}

						{% set img =  Image(key) %}

						<div class="slide ratio-bag bg-contain bg-no-repeat bg-center" style="background-image:url({{img.src('thumbnail')}})"></div>
					{% endfor %}
				</div>
				<div class="flex justify-between px-8 mx-auto" style="max-width:400px">
					<div class="prevBtn cursor-pointer">
						<img src="{{'images/arrLeft.png'|assets}}" alt="">
					</div>
					<div class="nextBtn cursor-pointer">
						<img src="{{'images/arrRight.png'|assets}}" alt="">
					</div>
				</div>

			</div>
			<div class="txtWrap w-1/2 md:w-full">
				<h1 class="text-2xl">{{row.title}}</h1>
				<div class="border-b border-lighter py-2 my-2">
					<p class="text-lighter text-sm">描述</p>
					<p>{{row.detail}}</p>
				</div>
				<div class="border-b border-lighter py-2 my-2">
					<p class="text-lighter text-sm">品牌</p>
					<p>{{row.brand}}</p>
				</div>
				<div class="border-b border-lighter py-2 my-2">
					<p class="text-lighter text-sm">尺寸</p>
					<p>{{row.size}}</p>
				</div>
				<div class="border-b border-lighter py-2 my-2">
					<p class="text-lighter text-sm">材質</p>
					<p>{{row.material}}</p>
				</div>
				<a href="/contact" class="t-btn mt-6">聯絡我們</a>
			</div>
		</div>


		<div class="flex justify-between mt-16 md:flex-wrap ani-stagger">
			{% for item in recommends %}
				{% include "@cmpt/bag.twig" with { item: item ,cls :'w-1/4 mb-4 md:w-1/2 ani-item'} %}
			{% endfor %}
		</div>
	</div>
{% endblock %}
