<nav class="app-bar flex  bg-white fixed top-0 z-50 w-full left-0 pl-4 shadow" style="height:75px">
	<div
		class="flex items-center justify-between w-full">
		{# logo #}
		<a href="{{uri}}" title="首頁" class="pb-3">
			<img class="" src="{{'images/d/logo.png'|assets}}" title="網站logo" alt="網站logo">
		</a>


		<div class='flex'>
			<div class="menu drawer  md:drawer --left md:text-2xl md:p-5 md:w-full">
				<a href="javascript:;" class="close" title="關閉選單">
					<svg viewbox="0 0 20 20" class='fill-current  w-8'>
						<path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"/>
					</svg>
				</a>

				<div class="flex h-full md:h-auto md:py-16">
					<ul class="nav --normal flex md:flex-col ">
						{% for item in header_menu %}

							{% if item.get_children %}
								<li class="item hasChild md:py-3">
									<a class="link flex items-center cursor-pointer h-full">
										{{ item.title }}
									</a>
									{# Second level menu #}
									<ul class="dropdown  absolute pl-0 md:pl-6 md:relative">
										{% for child in  item.get_children %}
											<li class="item ">
												<a class="link flex items-center hover-txt" href="{{ child.link }}">
													{{ child.title }}
												</a>
											</li>
										{% endfor %}
									</ul>
								</li>
							{% else %}
								<li class="item md:py-3">
									<a class="link flex items-center h-full px-4 hover-txt " target="{{item.target}}" href="{{ item.link}}">
										{{ item.title }}
									</a>
								</li>
							{% endif %}

						{% endfor %}
					</ul>
				</div>
			</div>
			{% if langs.list %}
				<div class="hasChild  flex items-center justify-center p-3 maintain">
					{{langs.active}}
					<span class="text-xs ml-2">▼</span>
					<ul class="dropdown">
						{% for item in langs.list %}
							<li class="item">
								<a class="link flex items-center hover-txt" href="{{item.href}}">
									{{item.name}}
								</a>
							</li>
						{% endfor %}
					</ul>
				</div>
			{% endif %}
			<a href="/contact" class=" flex items-center justify-center p-3 hover-bg hover-up">
				<img src="{{'images/d/mail_icon 1.png'|assets}}" alt="">
			</a>
			<div class=" md:flex items-center justify-center p-3  hidden">
				<a class="gee link" data-gene="click:drawer.toggle" data-ta="{{toggle is defined ? toggle :'.app-bar .menu'}}">
					<svg class='w-8 fill-current text-black' viewbox="0 0 20 20">
						<path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"/>
					</svg>
				</a>
			</div>
		</div>
	</div>

</nav>
