<div class="author bg-lightest p-4">
	<div class="flex ">

		<a class="rounded-full overflow-hidden w-20 h-20 flex-none" href="{{author.link}}">
			<img class="object-cover w-full h-full" src="{{Image(author.avatar_id).src}}" alt="{{author.user_nicename}}">
		</a>
		<div class="ml-6">
			<p class="leading-tight">
				{{__('作者','domo')}}
				<br>
				<a href="{{author.link}}">{{author.user_nicename}}</a>
			</p>
			<p>{{author.description}}</p>
		</div>
	</div>
</div>
