<div class="qaWrap mb-3 {% if loop.first %}active{% endif %} gee {{(cls) ? cls }}" data-gene="click:onQaClick">
	<div class="p-4 flex cursor-pointer" style="background-color:#E5E5E5;">
		<div class="text-primary mr-2">Q{{loop.index}}.</div>
		<div>{{item.title}}</div>
		<svg class="icon plus fill-current text-primary w-8" viewbox="0 0 24 24" stroke="currentColor">
			<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"/>
		</svg>
		<svg class="icon minus fill-current text-primary w-8" viewbox="0 0 24 24" stroke="currentColor">
			<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20 12H4"/>
		</svg>
	</div>
	<div class="flex ans">
		<div class="text-primary mr-2">A{{loop.index}}.</div>
		<div>{{item.content}}</div>
	</div>
</div>
