<div class="carou gee --{{mode}} --{{animation}} --{{height}} {{cls}}"
		 data-gene="init:resource.load"
		 data-meta="1"
		 data-nopde="1"
		 data-resource-id="1"
		 data-src="carou"
		 data-autoHeight="{{height != 'auto' ? false : true}}"
		 data-nav="{{nav}}"
		 data-dots="{{dots}}"
		 data-item="1"></div>
