<pre>
	{{ dump(mode) }}
</pre>
<div class="carou loading gee --{{mode}} --{{animation}} --{{height}} {{cls}} {{color}}" data-autoheight="{{height != 'auto' ? false : true}}" data-autoplay="{{autoplay}}" data-lazy="{{lazy}}" data-nav="{{nav}}" data-dots="{{dots}}" data-gene="init:carou.init" data-item="1">
	{% for row in rows %}

		<div class="item">
			<div class="bg z-0">
				{% if lazy == true %}
					<picture>
						{% if row.mobile %}
							<source class="owl-lazy" media="(max-width: 650px)" data-srcset="{{row.mobile}}">
						{% endif %}
						<img class="owl-lazy" data-src="{{row.thumbnail.src}} " alt="{{row.title|striptags }}">
					</picture>
				{% else %}
					<img src="{{row.thumbnail.src}}" alt="{{row.title|striptags}}">
				{% endif %}
			</div>
		</div>
	{% endfor %}
</div>

{# {% include _slot.src is defined ? _slot.src  : '@core/cmpt/carou/item.twig'  with {
      row :row ,
      lazy:lazy,
      fields:_slot.fields ,
      mode:_slot.mode
     } %} #}
